{% load multiuploader %}
<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button id="send">Send data</button>
  </form>
  {% if True %}
      {% multiuploader_form target_form_fieldname=form.uploaded_files.html_name send_button_selector="#send" wrapper_element_id="fileUploads" %}
  {% else %}
      {% multiuploader_form form_type="extended"  target_form_fieldname=form.uploaded_files.html_name js_prefix="jQuery" send_button_selector="#edit,#post" wrapper_element_id="fileUploads" lock_while_uploading=True number_files_attached=0 %}
  {% endif %}
</body>
</html>