{% load multiuploader staticfiles %}

<script type="text/javascript" src="{% static "multiuploader/scripts/collectfiles.js" %}"></script>

<div id="{{ elementId }}">	
	<form action="{% url multi %}" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{{ multiuploader_form.file }}
        
        <script type="text/javascript">		
            setup_filecollector({{prefix}},"{{targetformfieldname}}","{{sendButtonId}}",{% if lock_while_uploading %}true{% else %}false{% endif %});
        </script>
	</form>
</div> 	
